---
---
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Index</title>
        <style>
            body {
                margin: 0;
                background: url(https://cdn.frankerfacez.com/emoticon/381875/2) repeat;
                font-family: sans-serif;
            }

            h1 {
                color: #fff;
            }
    
            table {
                background: #fff;
            }

            td {
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <img src="https://i.pinimg.com/originals/a8/f9/bb/a8f9bb4201d9c3f3108b899e21f78e51.gif" alt="" width="220" height="229">
        <h1>Music files</h1>
        <table>
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Type</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for file in site.static_files %}
                    {% if file.path contains '/files/' %}
                        <tr>
                            <td><a href=".{{ file.path }}" target="_blank" rel="noopener">{{ file.name }}</a></td>
                            <td>{{ file.extname }}</td>
                            <td>{{ file.modified_time }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
